<a href="https://colab.research.google.com/github/ElydeAngel/daa_2021_1/blob/master/21Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplos vistos en la clase para
## encontrar T(n) en cada algoritmo:

In [1]:
def ejemplo1( n ):
    c = n + 1       #1
    d = c * n       #2
    e = n * n       #3
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999 )   #T(n) = 3

total=1

In [16]:
def ejemplo2 (n):
  contador = 0          #1
  for i in range (n):   #n
    for j in range (n): #n^2
      contador += 1
  return contador

ejemplo2(36500)         #T(n) = 1 + n^2

1332250000

In [4]:
def ejemplo3( n ):          # n=4
    x = n * 2               # x = 8 // 1
    y = 0                   # y = 0 // 2
    for m in range( 100 ):  #3      // 100
        y = x - n           # y = 4
    return y

ejemplo3(25870)             #T(n) = 102

25870

In [5]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n  #1
    y = x + 3 * 3 - n   #2
    z = x + y           #3
    return z

ejemplo4(9)

36.849599999999995

In [6]:
def ejemplo5( x ):
    n = 10                        #1
    for j in range( 0 , x , 1 ):  #x
        n = j + n
    return n

ejemplo5(10)  #T(n) = 1 + x

55

In [15]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)] for x in range(n)]  #1
    suma = 0                            #2
    for d in range(n):                  #n
        for r in range(n):              #n^2
            for c in range(n):          #n^3
                suma += data[d][r][c]
    return suma
print(ejemplo6( 100 ))                  #T(n) = 2 + n^3

1000000

In [17]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada un range (100, 600, 100)
    ejemplo6( entrada )

Tiempo transcurrido: 17.7294001579 segundos.

125000000