<a href="https://colab.research.google.com/github/ElydeAngel/daa_2021_1/blob/master/21Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplos vistos en la clase para
## encontrar T(n) en cada algoritmo:

In [ ]:
def ejemplo1( n ):
    c = n + 1       #1
    d = c * n       #2
    e = n * n       #3
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999 )   #T(n) = 3

total=1

In [ ]:
def ejemplo2 (n):
  contador = 0          #1
  for i in range (n):   #n
    for j in range (n): #n^2
      contador += 1
  return contador

ejemplo2(36500)         #T(n) = 1 + n^2

1332250000

In [ ]:
def ejemplo3( n ):          # n=4
    x = n * 2               # x = 8 // 1
    y = 0                   # y = 0 // 2
    for m in range( 100 ):  #3      // 100
        y = x - n           # y = 4
    return y

ejemplo3(25870)             #T(n) = 102

25870

In [ ]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n  #1
    y = x + 3 * 3 - n   #2
    z = x + y           #3
    return z
ejemplo4(9)             #T(n) = 3

36.849599999999995

In [ ]:
def ejemplo5( x ):
    n = 10                        #1
    for j in range( 0 , x , 1 ):  #x
        n = j + n
    return n

ejemplo5(10)  #T(n) = 1 + x

55

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)] for x in range(n)]  #1
    suma = 0                            #2
    for d in range(n):                  #n
        for r in range(n):              #n^2
            for c in range(n):          #n^3
                suma += data[d][r][c]
    return suma
print(ejemplo6( 100 ))                  #T(n) = 2 + n^3

1000000

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada un range (100, 600, 100)
    ejemplo6( entrada )

Tiempo transcurrido: 17.7294001579 segundos.

125000000

In [ ]:
def ejemplo7( n ):
    count = 0                     #1
    for i in range( n ) :         #n
        for j in range( 25 ) :    #25
            for k in range( n ):  #n^2
                count += 1
    return count

    #T(n) 1 + 25n^2

In [1]:
#1+25n^2+25n^2 = 1 - 50n^2

def ejemplo7_2( n ):
    count = 0                       #!
    for i in range( n ) :           #n
        for j in range( 25 ) :      #25
            for k in range( n ):    #n = 25n^2
                count += 1          #+ <- Estan al mismo nivel los for
            for k in range( n ):    #n = 25n^2
                count += 1
    return count 
ejemplo7_2( 3 )                 # T(n) = 1 + 25n^2 +25 n^2 = 1 = 50n^2
# 1 + 50(3) = 450

450

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0                           #1
    for index in range(len(numeros)):   #n
        total = numeros[index]
    return total
ejemplo8(numeros)                       #T(n) = 1 + n
                                        #O(n) = n

In [4]:
def ejemplo9(  n ):
    contador = 0                #1
    basura = 0                  #2
    for i in range( n ) :       #n
        contador += 1           #+
    for j in range( n ) :       #n
        contador += 1
    basura = basura + contador  #3
    return contador
print(ejemplo9( 5 ))            #T(n) = 3 + 2n

10

In [3]:
def ejemplo10( n ):
    count = 0                     #1
    for i in range( n ) :         #n
        for j in range( i+1 ) :   #n + 1  / 2 <- porque i esta en el primer for?
            count += 1
    return count                  #T(n) = 1 + (n(n+1))/2 = 1 + (n^2+n)/2
print(ejemplo10(5))

15